
* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #d2d2d2;
}

/*List style none*/
li {
    list-style: none;
}

/* Start Quiz Button Positioning */
/* Display Box Positioning */
/* Score Results Positioning */
.startButton,
.displayBox,
.quizBox,
.scoreResults,
.highscore {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50% );
    box-shadow: 0px 4px 8px 0px #797777,
                0px 6px 12px 0px #5d5b5b;
}

.displayBox.activeDisplayBox,
.quizBox.activeQuizBox,
.scoreResults.activeResults,
.highscore.activeHighScore {
    opacity: 1;
    pointer-events: auto;
}

/* Start Quiz Button Styling */
.startButton button{
    background: grey;
    border-color: black;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    outline:none;
    padding: 15px 30px;
    border-width: 5px;
}

/* Display Box Styling */
.displayBox {
    background: whitesmoke;
    border-radius: 5px;
    color: #797777;
    opacity: 0;
    pointer-events: none;
    width: 55%;
}

/* Display Box Title Styling */
.displayBox .displayBoxTitle,
.highscore .title {
    align-items: center;
    border-bottom: 1px solid #797777;
    display: flex;
    font-size: 30px;
    font-weight: 500px;
    height: 60px;
    padding: 0 35px;
    width: 100%;
}

/* Rules List Styling */
.displayBox .rulesList {
    padding: 15px 40px;
}

/* Rules List Styling */
.displayBox .rulesList .rules {
    font-size: 20px;
    margin: 5px 0;
}

/* Rules Span Styling */
.displayBox .rulesList .rules span {
    color: black;
    font-weight: 500;
}

/* Display Box Buttons Styling */
.displayBox .displayBoxButtons {
    align-items: center;
    border-top: 1px solid #797777;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    padding: 0 50px;
}

.highscore .scoreResultButtons {
    display: flex;
    justify-content: center;
    border-top: 1px solid #797777;
    padding: 10px;
}
/* Display Box Buttons Styling */
/* Initials Submit Button Styling */
.displayBox .displayBoxButtons button,
.scoreResults .scoreResultButtons button,
.scoreResults button,
.highscore button {
    border-color:black;
        border-radius : 5px;
    color:white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    margin: 0 5px;
    transition: all 0.3s ease;
    min-width: 100px;
    padding: 0px 5px;
}

/* Customizing start button */
/* Customizing display buttons */
/* Customizing score result buttons */
.displayBoxButtons button.continue,
.scoreResults .scoreResultButtons button,
.scoreResults button,
.highscore button {
    color: white;
    background: grey; 
}

.startButton button:hover,
.displayBoxButtons button.continue:hover,
.scoreResults .scoreResultButtons button:hover,
.scoreResults button:hover,
.highscore button:hover {
    background: #797777;
}

.displayBoxButtons button.quit {
    color:white;
    background:  grey;
}

.displayBoxButtons button.quit:hover {
    color: white;
    background : #797777;
}

/* Quiz Box Styling */
.quizBox {
    background: whitesmoke;
    border-radius: 5px;
    color: #797777;
    opacity: 0;
    pointer-events: none;
    width: 65%;
}

/* Quiz Box Header Styling */
.quizBox header {
    align-items: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px #797777;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 30px;
}

/* Quiz Box Title Styling */
.quizBox header .quizBoxTitle {
    font-size: 20px;
}

/* Quiz Box Title and Timer Styling */
.quizBox header .quizBoxTitle,
.quizBox header .quizBoxTimer {
    background:grey;
    border: 1px solid black; 
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 10px;
    user-select: none;
}

/* Quiz Box Timer Styling */
.quizBox header .quizBoxTimer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.quizBox header .quizBoxTimer .timerSeconds {
    background: black ;
    border-radius: 5px;
    padding: 3px;
}

/* Quiz Box Section Styling */
.quizBox section {
    padding: 25px 30px;
}

/* Quiz Box Section Question Styling */
.quizBox section .question {
    font-size: 20px;
    font-weight: 600;
}

/* Quiz Box Section Answers Styling */
.quizBox section .answerList {
    display: block;
    padding: 20px 0px;
}

.quizBox section .answerList .answer {
    align-items: center;
    background: #d2d2d2;
    border: 1px solid #797777;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-bottom: 7.5px;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.3s ease;
}

section .answerList .answer:hover {
    background: #797777;
    color: white;
}

/* Quiz Box Footer Styling */
.quizBox footer {
    align-items: center;
    border-top: 1px solid #797777;
    display: flex;
    height: 50px;
    margin: 10px;
    padding: 0px 10px;
}

.quizBox footer .questionProgressBar {
    background:grey;
    border-radius: 5px;
    color:white;
    padding: 10px;
    user-select: none;
}

/* Score Results Styling */
.scoreResults {
    align-items: center;
    background: whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    opacity: 0;
    pointer-events: none;
}

.scoreResults .trophy {
    color: black;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.scoreResults .finishText {
    color: #797777;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    padding: 5px;
}

.scoreResults .resultText {
    color: #797777;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.scoreResults form {
    border-top: 1px solid #797777;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#inputInitials {
    margin: 10px auto;
    padding: 5px 0px;
    text-align: center;
}

.hide {
    display: none;
}

.highscore {
    background: whitesmoke;
    border-radius: 5px;
    color: #797777;
    width: 55%;
    opacity: 0;
    pointer-events: none;
    min-width: 500px;
}

.inputContent {
    margin: 0px auto;
    color: #797777;
    width: '100%';
    padding: 0px 0px 10px;
}
.users {
    padding: 15px 40px;
}

.user {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
