* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #d2d2d2;
}

.startButton, .displayBox {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate( -50%, -50% );
    box-shadow: 0px 4px 8px 0px #797777,
                0px 6px 12px 0px #301414;
}

/*Changed the opacity so the start button will show and the display box will show when the button is pr*/
.displayBox.activeDisplayBox{
    opacity: 1;
    pointer-events: auto;
}

/* Start Quiz Button Styling */
.startButton button{
    background: darkseagreen;
    border-color: darkslategray;
    border-radius: 5px;
    color:white ;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    outline:none;
    padding: 15px 30px;
}

/* Display Box Styling */
.displayBox {
    background: whitesmoke;
    border-radius: 5px;
    color: #797777;
    opacity: 0;
    pointer-events: none;
    width: 55%;
}

/* Display Box Title Styling */
.displayBox .displayBoxTitle
{
    align-items: center;
    border-bottom: 1px solid #797777;
    display: flex;
    font-size: 30px;
    font-weight: 500px;
    height: 60px;
    padding: 0 35px;
    width: 100%;
}
/* Rule list style*/
.displayBox .rulesList {
    padding: 15px 40px;
}

/* Rules List Styling */
.displayBox .rulesList .rules {
    font-size: 20px;
    margin: 5px 0;
}

/* Rules Span Styling */
.displayBox .rulesList .rules span {
    color: black;
    font-weight: 500;
}


/* Display Box Buttons Styling */
.displayBox .displayBoxButtons{
    align-items: center;
    border-top: 1px solid #797777;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    padding: 0 50px;
    font-size: 30px;
}
/* Color of button text and background*/
.displayBox .displayBoxButtons button {
    border-color: darkslategray;
    border-radius : 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    margin: 0 5px;
    transition: all 0.3s ease;
    min-width: 100px;
    padding: 0px 5px;
    background-color: darkseagreen;
}

/* Quiz Box Styling */
.quizBox {
    background: whitesmoke;
    border-radius: 5px;
    color: #797777;
    /*opacity: 0;*/
    pointer-events: none;
    width: 65%;
}

/* Quiz Box Header Styling */
.quizBox header {
    align-items: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px #797777;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 30px;
}

/* Quiz Box Title Styling */
.quizBox header .quizBoxTitle {
    font-size: 20px;
}

/* Quiz Box Title and Timer Styling */
.quizBox header .quizBoxTitle,
.quizBox header .quizBoxTimer {
    background: darkseagreen;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 10px;
    user-select: none;
}

/* Quiz Box Timer Styling */
.quizBox header .quizBoxTimer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.quizBox header .quizBoxTimer .timerSeconds {
    background: #2e2c2c;
    border-radius: 5px;
    padding: 3px;
}

/* Quiz Box Section Styling */
.quizBox section {
    padding: 25px 30px;
}

/* Quiz Box Section Question Styling */
.quizBox section .question {
    font-size: 20px;
    font-weight: 600;
}

/* Quiz Box Section Answers Styling */
.quizBox section .answerList {
    display: block;
    padding: 20px 0px;
}

.quizBox section .answerList .answer {
    align-items: center;
    background: #d2d2d2;
    border: 1px solid #797777;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin-bottom: 7.5px;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.3s ease;
}

section .answerList .answer:hover {
    background: #797777;
    color: #ffdab9;
}
